bin/
obj/
build/
.vscode/
*.user
*.suo
*.userosscache
*.cache
*.log
*.vs/
com206_cekici_projesi/.dart_tool/
com206_cekici_projesi/build/
com206_cekici_projesi/.idea/
com206_cekici_projesi/.vscode/
com206_cekici_projesi/.pub/
com206_cekici_projesi/pubspec.lock
